<%  let rows = data.dataset?.rows;
    if(rows && rows.length > 0) {
%>
<div id="page_first" class="pt-page">
	<div id="page_first_sub" class="panel-body pt-page-body" align="center">
		<div class="favor-navbox-tiles">
<%    
        for(let r of rows) {
            let iconfile = r["iconfile"];
            let programid = r["programid"];
            let url = r["url"];
            let shortname = r["shortname"];
            let path = r["progpath"];
            if(iconfile && iconfile!="") {
%>
<a href="javascript:void(0)" class="tile fa-box-title fav-app fa-link-app" data-pid="<%=programid%>" data-url="<%=url%>" data-path="<%=path%>" title="<%=programid%>"><div class="icon"><img class="fa fa-app-image" src="<%=meta.cdn_url%>/img/apps/<%=iconfile%>" alt=""/></div><span class="title"><%=shortname%></span></a>		
<%                
            } else {
%>
<a href="javascript:void(0)" class="tile fa-box-title fav-app fa-link-app" data-pid="<%=programid%>" data-url="<%=url%>" data-path="<%=path%>" title="<%=programid%>"><div class="icon"><img class="fa fa-app-image" src="<%=meta.cdn_url%>/img/apps/application.png" alt=""/></div><span class="title"><%=shortname%></span></a>		
<%
            }
        }
%>
        </div>
    </div>
</div>
<%        
    }
%>
