				<div id="leftmenucontainer" class="collapse navbar-collapse">
					<ul class="navbar-nav mr-auto">
						<li id="mainmenu" class="nav-item active">
							<a href="javascript:void(0)" id="mainmenutrigger" class="nav-link" data-toggle="dropdown" title="Menu"><em class="fa fa-bars"></em></a>
						</li>
						<li id="homelayer" class="nav-item">
							<a href="javascript:void(0)" id="homemenutrigger" class="nav-link" title="Home"><em class="fa fa-home"></em></a>		
						</li>	
						<li id="productlayer" class="nav-item">
							<a href="/home" id="intromenutrigger" class="nav-link" title="Welcome"><img id="productimage" src="<%=meta.cdn_url%>/img/app_logo.png" width="40" height="40" alt="" /></a>		
						</li>				
						<li id="productlayer" class="nav-item dropdown" >
							<a href="javascript:void(0)" id="recentmenutrigger" class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="History">
								<span id="programtitle">Assure</span>
								<span id="recentcaret" class="fa fa-caret-down caret-down"></span>
							</a>
							<ul id="recentmenulist" class="dropdown-menu" aria-labelledby="navbarDropdown" >	
							</ul>
						</li>						
					</ul>				
				</div>
				
				<div id="rightmenucontainer" class="navbar-nav navbar-collapse">
					<ul id="navmenuitem" class="navbar-expand nav navbar-nav navbar-right navbar-user ml-auto">							
						<li id="usermenuitem" class="nav-item dropdown user-dropdown">
							<a href="javascript:void(0)" id="accessor_linker" class="nav-link dropdown-item dropdown-toggle" role="button" data-toggle="dropdown" title="My Information">
								<span id="accessor_label">Administrator</span>
								<strong class="fa fa-caret-down caret-down"></strong>
							</a>
							<ul id="userinfoitemlist" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
								<li><a href="javascript:void(0)" class="dropdown-item accessor-access" id="accessor_access_link" title="Last Access"><em class="fa fa-clock-o"></em><span id="last_access_label" class="menu-span"> </span></a></li>						
								<li class="dropdown-divider divider"></li>
								<li><a href="javascript:void(0)" class="dropdown-item" id="accessor_profile_link"><em class="fa fa-user"></em><span id="profile_label"> Profile</span></a></li>
								<li id="userchangeitem"><a href="javascript:void(0)" class="dropdown-item" id="accessor_change_link"><em class="fa fa-lock"></em><span id="changepwd_label" class="menu-span"> Change Password</span></a></li>
								<li class="dropdown-divider divider"></li>
								<li><a href="javascript:void(0)" class="dropdown-item" id="accessor_logout_link"><em class="fa fa-power-off"></em><span id="logout_label" class="menu-span"> Log Out</span></a></li>
							</ul>
						</li>	
					</ul>
					<ul class="navbar-expand nav navbar-nav navbar-right navbar-user-avatar">
						<li id="avatarmenuitem" class="nav-item avatar-menu-item">
							<a href="javascript:void(0)" id="avatarmenuitemlink" class="nav-link dropdown-toggle avatar-item" data-toggle="dropdown" data-target="#usermenuitem"><img id="avatarimage" src="<%=meta.cdn_url%>/img/avatar.png" width="50" height="50" class="avatar-img img-circle rounded-circle"/></a>
						</li>
							
						<li id="languagemenuitem" class="nav-item dropdown user-dropdown">
							<a href="javascript:void(0)" id="languagemenuitemlink" class="nav-link dropdown-item dropdown-toggle" data-toggle="dropdown">	
								<img id="languageimage" alt="Language" src="<%=meta.cdn_url%>/img/lang/<%=meta.language%>.png" width="30px" title="Language" />
								<strong class="fa fa-caret-down caret-down"></strong>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="javascript:void(0)" class="dropdown-item" id="linklangen" data-image="<%=meta.cdn_url%>/img/lang/EN.png"><img alt="" src="<%=meta.cdn_url%>/img/lang/EN.png" width="30px" title="English"/><span id="englishlanguage" class="lang-word">English</span></a></li>
								<li><a href="javascript:void(0)" class="dropdown-item" id="linklangth" data-image="<%=meta.cdn_url%>/img/lang/TH.png"><img alt="" src="<%=meta.cdn_url%>/img/lang/TH.png" width="30px" title="Thai"/><span id="thailanguage" class="lang-word">Thai</span></a></li>
							</ul>
						</li>
						<li id="favormenuitem" class="nav-item dropdown user-dropdown">
							<a href="javascript:void(0)" id="favormenuitemlink" class="nav-link dropdown-item dropdown-toggle" role="button" data-toggle="dropdown" title="My Favorite">
								<em class="fa fa-th"></em>
							</a>
							<ul id="favordropdownmenu" class="dropdown-menu dropdown-menu-right " aria-labelledby="navbarDropdown">	
								<li>
									<div id="favornewitemlayer" class="favor-menu-icon fa-hidden">
										<a href="javascript:void(0)" id="favorcancelitem" class="favor-cancel-item" title="Close New Favorite"><em class="fa fa-times-circle"></em></a>
										<select id="favorprogitem">
										</select>
										<a href="javascript:void(0)" id="favornewitem" class="favor-new-item" title="Add New Favorite"><em class="fa fa-plus"></em></a>
									</div>
									<div id="favorbarmenu" class="navbox-tiles"></div>
									<div id="favorcoverbarmenu" class="favor-menu-cover fa-hidden">
									</div>
								</li>
							</ul>
						</li>						
					</ul>
				</div>
				