	<% if(page.isInsertMode()) {%>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="userpassword" id="userpassword_label" class="control-label"><%=label.get('userpassword_label','Password')%></label>
						</div>
						<div class="col-height col-md-5">
<div class="input-group"><input type="text" id="userpassword" name="userpassword" class="form-control input-md" value="<%=data.dataset?.userpassword%>" tabindex="-1" readonly /><a href="javascript:void(0);" class="input-group-addon input-group-append input-group-text" onclick="copyPassword()" tabindex="-1"><i class="fa fa-copy" aria-hidden="true"></i></a></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<% } %>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="usertname" id="usertname_label" class="control-label"><%=label.get('usertname_label','First Name (Thai)')%></label>
						</div>
						<div class="col-height col-md-7">
<div class="input-group"><input type="text" id="usertname" name="usertname" class="form-control input-md irequired alert-input" value="<%=data.dataset?.usertname%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="usertname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('usertname_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="usertsurname" id="usertsurname_label" class="control-label"><%=label.get('usertsurname_label','Last Name (Thai)')%></label>
						</div>
						<div class="col-height col-md-7">
<div class="input-group"><input type="text" id="usertsurname" name="usertsurname" class="form-control input-md irequired alert-input" value="<%=data.dataset?.usertsurname%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="usertsurname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('usertsurname_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="userename" id="userename_label" class="control-label"><%=label.get('userename_label','First Name (English)')%></label>
						</div>
						<div class="col-height col-md-7">
<div class="input-group"><input type="text" id="userename" name="userename" class="form-control input-md irequired alert-input" value="<%=data.dataset?.userename%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="userename_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('userename_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="useresurname" id="useresurname_label" class="control-label"><%=label.get('useresurname_label','Last Name (English)')%></label>
						</div>
						<div class="col-height col-md-7">
<div class="input-group"><input type="text" id="useresurname" name="useresurname" class="form-control input-md irequired alert-input" value="<%=data.dataset?.useresurname%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="useresurname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('useresurname_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="email" id="email_label" class="control-label"><%=label.get('email_label','Email')%></label>
						</div>
						<div class="col-height col-md-7">
<div class="input-group"><input type="text" id="email" name="email" class="form-control input-md irequired alert-input" value="<%=data.dataset?.email%>" /><div class="input-group-required"><label class="required">*</label></div></div><div id="email_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('email_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="mobile" id="mobile_label" class="control-label"><%=label.get('mobile_label','Mobile')%></label>
						</div>
						<div class="col-height col-md-5">
<input type="text" id="mobile" name="mobile" class="form-control input-md" value="<%=data.dataset?.mobile%>" />
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
<label for="lineno" id="lineid_label" class="control-label"><%=label.get('lineid_label','Line ID')%></label>
						</div>
						<div class="col-height col-md-5">
<input type="text" id="lineid" name="lineid" class="form-control input-md" value="<%=data.dataset?.lineid%>" />
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
			
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-md-3 col-height col-label text-right">
							<label id="gender_label" class="control-label"><%=label.get('gender_label','Gender')%></label>
						</div>
						<div class="col-height col-md-2">
<div class="radio form-check">
<input type="radio" value="M" id="gendermale" name="gender" class="form-control input-md form-check-input" <%=page.checked('M',data.dataset?.gender)%> />
<label for="gendermale" class="form-check-label gender-label" title="Male">&nbsp;<em class="fa fa-male" aria-hidden="true"></em></label>
</div>
						</div>
						<div class="col-height col-md-2">
<div class="radio form-check">
<input type="radio" value="F" id="genderfemale" name="gender" class="form-control input-md form-check-input" <%=page.checked('F',data.dataset?.gender)%> />
<label for="genderfemale" class="form-check-label gender-label" title="Female">&nbsp;<em class="fa fa-female" aria-hidden="true"></em></label>
</div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<% if(page.isUpdateMode()) {%>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
					<div class="col-md-3 col-height col-label text-right">
						<label for="inactive" id="inactive_label" class="control-label"><%=label.get('inactive_label','Status')%></label>
					</div>
						<div class="col-height col-md-5">
<div class="input-group">
	<%-page.html('select',{map: data.entity?.tkactive, value: data.dataset?.inactive, id: "inactive", name: "inactive", class: "form-control input-md"})%>
<div class="input-group-required"><label class="required">&nbsp;</label></div></div><div id="inactive_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('inactive_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<% } %>
