			<div class="row row-height">
				<div class="col-md-12 col-height">
						<div class="table-layer-class">
							<div class="row row-height">
								<div class="col-height col-md-3">
<label for="programids" id="programids_label" class="control-label"><%=label.get('programids_label','Program ID')%></label><input type="text" id="programids" name="programid" class="form-control input-md" value="<%=data.dataset?.programid%>" /><span></span>
								</div>
								<div class="col-height col-md-3">
<label for="prognames" id="prognames_label" class="control-label"><%=label.get('prognames_label','Program Name')%></label><input type="text" id="prognames" name="progname" class="form-control input-md" value="<%=data.dataset?.progname%>" /><span></span>
								</div>
								<div class="col-height col-md-2">
<label for="progtypes" id="progtypes_label" class="control-label"><%=label.get('progtypes_label','Program Type')%></label>
<%-page.html('select',{map: data.entity?.tkprogtype, value: data.dataset?.progtype, id: "progtypes", name: "progtype", class: "form-control input-md", empty: true })%>
								</div>
								<div class="col-height col-md">
									<br/>
									<button type="button" id="searchbutton" class="btn btn-dark btn-sm"><i class="fa fa-search fa-btn-icon" aria-hidden="true"></i><%=label.get('searchbutton','Search')%></button>
									<button type="button" id="insertbutton" class="btn btn-dark btn-sm pull-right"><i class="fa fa-plus fa-btn-icon" aria-hidden="true"></i><%=label.get('insertbutton','Insert')%></button>
								</div>
							</div>
						</div>
				</div>
			</div>
