    <div id="page_forgot" class="entry-layer page-layer">
		<br/>
		<form id="forgotpassword_form" name="forgotpassword_form" method="post">
			<input type="hidden" id="capid" name="capid" />
			<div class="portal-area sub-entry-layer">
				<div class="row row-heighter center-block">
					<div class="col-md-12">
						<label id="forgotpassword_info"><%=label.get('forgotpassword_info','Please identify your email address with secure code from image')%></label>
					</div>
				</div>
				<div class="row row-heighter center-block">
					<div class="col-md-6 col-height form-group" id="email_layer">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" title="Email"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
							</div>
							<input type="email" class="form-control input-md my-input alert-input" id="email" name="email" placeholder="Email" />
						</div>		
						<span id="email_alert" role="alert" class="has-error fa-hidden"><%=label.get('email_alert','You can not leave this empty')%></span>
					</div>
				</div>
				<div class="row row-heighter center-block">
					<div class="col-md-4 col-height form-group" id="secureimage_layer">
						<div class="btn-group mr-2" role="group">
							<img id="secureimage" alt=""/>
						</div>
						<div class="btn-group mr-2" role="group" id="secureimage_ctrl_layer">
							<button id="secureimage_ctrl" title="Refresh" class="btn btn-sm btn-base" tabIndex="-1"><em class="fa fa-refresh" aria-hidden="true"></em></button>
						</div>
					</div>
				</div>
				<div class="row row-heighter center-block">
					<div class="col-md-12">
						<label id="securecode_info"><%=label.get('securecode_info','Please specify the result of two value operate from image')%></label>
					</div>
				</div>
				<div class="row row-heighter center-block">
					<div class="col-md-4 col-height form-group" id="securecode_layer">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" title="Answer Code"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
							</div>
							<input type="text" class="form-control input-md my-input alert-input" id="securecode" name="securecode" placeholder="<%=label.get('securecode_placeholder','Answer Code')%>" />
						</div>	
						<span id="securecode_alert" role="alert" class="has-error fa-hidden"><%=label.get('securecode_alert','You can not leave this empty')%></span>
					</div>
				</div>
				<hr/>
				<div class="row row-heighter">
					<div class="col-md-9 col-height text-center">
						<input type="button" id="sendbutton" class="btn btn-dark btn-sm" value="<%=label.get('sendbutton','Send')%>"/>
					</div>
				</div>			
			</div>
		</form>
	</div>
