<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Forgot Password</title>	
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>		
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/pages/page_forgot.css" />
		<script type="text/javascript" src="<%=meta.base_url%>/pages/page_forgot.js"></script>
	</head>
	<body class="portalbody portalbody-off">
		<div class="pt-page forgot-page">
			<h1 class="page-header-title" title="page_forgot"><%=label.get('caption','Forgot Password')%></h1>		
			<%- include('../partials/page_waiting') %>		
			<%- include('./page_forgot_form') %>		
			<%- include('./page_forgot_success') %>		
		</div>
</body>
</html>
