<!DOCTYPE html>
<html>
	<head>
		<title>Change Password</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>		
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/pages/page_change.css" />
		<script type="text/javascript" src="<%=meta.base_url%>/pages/page_change.js"></script>
		<script type="text/javascript" nonce="YXNzdXJl">
			var CHANGED_ACTION = "<%=page.context.params?.changed%>";
		</script>
	</head>
	<body class="portalbody portalbody-off">
		<%- include('../partials/page_waiting') %>
		<div id="page_change" class="pt-page pt-page-current pt-page-controller">
			<h1 class="page-header-title" title="page_change"><%=label.get('caption','Change Password')%></h1>
			<div id="entrypanel">
				<%- include('./page_change_form') %>
			</div>
		</div>
	</body>
</html>
