	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="apiquery" id="apiquery_label" class="control-label"><%=label.get('apiquery_label','Query Statement')%></label>
<div class="input-group"><textarea id="apiquery" name="apiquery" class="form-control input-md irequired alert-input" rows="10"><%=data.dataset?.apiquery%></textarea><div class="input-group-required"><label class="required">*</label></div></div><div id="apiquery_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('apiquery_alert','You can not leave this empty')%></div>
<span class="canuse-param"><%=label.get('canuseparam_label','Can use default parameters: systemdate, systemtime, knuser, knsite.')%></span>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height hidden-layer">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-4">
<label for="inactive" id="inactive_label" class="control-label"><%=label.get('inactive_label','Active')%></label><div class="input-group">
<%-page.html('select',{map: data.entity?.tkactive, value: data.dataset?.inactive, id: "inactive", name: "inactive", class: "form-control input-md"})%>
<div class="input-group-required"><label class="required">*</label></div></div><div id="inactive_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('inactive_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
