	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<label for="reservenum" id="reservenum_label" class="control-label"><%=label.get('reservenum_label','Reserve Alphabet/Number')%></label><div class="input-group">
	<input type="text" id="reservenum" name="reservenum" class="form-control input-md irequired ikeyclass alert-input" maxlength="50" value="<%=data.dataset?.reservenum%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="reservenum_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('reservenum_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-9">
<label for="remarks" id="remarks_label" class="control-label"><%=label.get('remarks_label','Remark')%></label>
<input type="text" id="remarks" name="remarks" class="form-control input-md" maxlength="100" value="<%=data.dataset?.remarks%>" /><span></span>
						</div>
					</div>
				</div>
		</div>
	</div>
