<!DOCTYPE html>
<html>
	<head>
		<title>Template Configuration</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>	
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/sfte013/sfte013.css" />
		<script type="text/javascript" src="<%=meta.base_url%>/sfte013/sfte013.js"></script>
		<script src="<%=meta.base_url%>/tinymce/js/tinymce/tinymce.js"></script>
		<script src="<%=meta.base_url%>/tinymce/js/tinymce/jquery.tinymce.min.js"></script>
		<script nonce="YXNzdXJl">
			var fs_tagary = <%- JSON.stringify(data.entity?.ttemplateary) %>;
		</script>
	</head>
	<body class="portalbody portalbody-off">
		<%- include('../partials/page_waiting') %>
		<div id="ptsearchpager" class="pt-page pt-page-current pt-page-controller sfte013-search-pager">
			<%- page.createHeader({pid: 'sfte013', title: label.get('caption','Template Configuration')}) %>
			<div id="searchpanel" class="panel-body">
				<form id="fssearchform" name="fssearchform" method="post">
					<input type="hidden" name="ajax" value="true"/>
					<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
					<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
					<input type="hidden" name="page" value="1"/>
					<input type="hidden" name="orderBy" value=""/>
					<input type="hidden" name="orderDir" value=""/>
					<%- include('./sfte013_filter') %>
				</form>
				<div id="listpanel" class="table-responsive fa-list-panel">
					<%- include('./sfte013_data') %>
				</div>
			</div>
		</div>
		<div id="dialogpanel"></div>
	</body>
</html>
