			<div class="row row-height">
				<div class="col-md-12 col-height">
						<div class="table-layer-class">
							<div class="row row-height">
								<div class="col-height col-md-3">
<label for="templates" id="templates_label" class="control-label"><%=label.get('templates_label','Template Name')%></label>
<input type="text" id="templates" name="template" class="form-control input-md" picture="(50)X" value="<%=data.dataset?.template%>" /><span></span>
								</div>
								<div class="col-height col-md-3">
<label for="templatetypes" id="templatetypes_label" class="control-label"><%=label.get('templatetypes_label','Template Type')%></label>
<input type="text" id="templatetypes" name="templatetype" class="form-control input-md" picture="(50)X" value="<%=data.dataset?.templatetype%>" /><span></span>
								</div>
								<div class="col-md">
									<br/>
									<button type="button" id="searchbutton" class="btn btn-dark btn-sm"><i class="fa fa-search fa-btn-icon" aria-hidden="true"></i><%=label.get('searchbutton','Search')%></button>
									<button type="button" id="insertbutton" class="btn btn-dark btn-sm pull-right"><i class="fa fa-plus fa-btn-icon" aria-hidden="true"></i><%=label.get('insertbutton','Insert')%></button>
								</div>
							</div>
						</div>
				</div>
			</div>
