<% let fs_express_readonly = page.isRetrieveMode()?" readonly ":""; %>
	<input type="hidden" id="site" name="site" value="<%=data.dataset?.site%>"/>
	<input type="hidden" id="userid" name="userid" value="<%=data.dataset?.userid%>"/>
	<input type="hidden" id="factorid" name="factorid" value="<%=data.dataset?.factorid%>" />
	
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-md-3 col-height col-label text-right">
								<label for="username" id="username_label" class="control-label">User</label>
							</div>
							<div class="col-height col-md-6">
<div class="input-group"><input type="text" id="username" name="username" class="form-control input-md irequired ikeyclass alert-input" maxlength="50" value="<%=data.dataset?.username%>" <%=fs_express_readonly%> /><div class="input-group-required"><label class="required">*</label></div></div><div id="username_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('username_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
