<%  let rows = data.dataset?.rows;
    let len = rows?rows.length:0;
    for(let idx = 0; idx < 9; idx++) {
        if(idx < len) {
            let r = rows[idx];
            let iconfile = r["iconfile"];
            if(!iconfile || iconfile.trim().length ==0) iconfile = "application.png";
%>
<a href="javascript:void(0)" class="tile fa-box-title fav-app" seqno="<%=idx+1%>" pid="<%=r['programid']%>" url="<%=r['url']%>" data-path="<%=r['progpath']%>" title="<%=r['programid']%>"><div class="icon"><img class="fa fa-app-image" src="<%=meta.cdn_url%>/img/apps/<%=iconfile%>" alt=""/></div><span class="title"><%=r['shortname']%></span></a>
<%      } else { %>
    <a href="javascript:void(0)" class="tile fa-box-title fav-blank" title="New Favorite" seqno="<%=idx+1%>"><div class="icon"><img class="fa fa-app-image" src="<%=meta.cdn_url%>/img/apps/fs_icon.png" alt=""/></div><span class="title">Add New</span></a>
<%      } 
    }
%>
