<ul id="menuitemlist" class="nav flex-column sidebar-nav navbar-nav list-sidebar bg-default" role="menu">
<%
function createMenuTree(menu,progmap,counter) {
    if(menu) {
        let progname = menu.text;
        let hasItems = menu?.items && menu?.items?.length > 0;
        let hasProg = menu?.itemname && menu?.itemname.trim().length > 0;
        if(hasProg) { 
            let progid = menu.itemname;
            let prg = progmap[progid];
            let url = prg?.url;
            let path = prg?.progpath;  
        %>
    <li><a href="javascript:void(0);" class="fa-link-menu-item menu-desktop" data-pid="<%=progid%>" data-url="<%=url%>" data-path="<%=path%>" title="<%=progid%>"><%=progname %></a></li>
<%      } else { %>
    <li class="dropdown">
    <a class="nav-menu-group dropdown-toggle collapsed active" data-toggle="collapse" data-target="#submenu_<%=counter%>" href="javascript:void(0);">
        <em class="fa fa-list-alt"></em>
        <span class="nav-label"><%=progname%></span>
        <span class="menu-group-icon fa fa-chevron-left pull-right"></span>
    </a>
    <% if(hasItems) { %>
    <ul id="submenu_<%=counter%>" class="sub-menu panel-collapse collapse" role="menu">    
        <% for(let item of menu?.items) {            
            createMenuTree(item,progmap,counter++);   
        }%>
    </ul>
    <% } %>
    </li>
<%      }
    }    
}
if(data.dataset?.sidemap && data.dataset?.sidelist) {
    let lang = meta.language;
    let counter = 0;
    let sidemap = data.dataset.sidemap;
    let sidelist = data.dataset.sidelist;
    for (let mk in sidemap) {
        let mv = sidemap[mk];
        counter++;
        let groupstyle = mv["groupstyle"];
        if(!groupstyle || groupstyle=="") groupstyle = "fa fa-tasks";
        let groupname = "TH"==lang?mv["nameth"]:mv["nameen"];
        let jsonmenu = undefined;
        if(data.meta?.MENU_TREE) {
            let menutext = mv["menutext"];
            if(menutext && menutext.trim().length > 0) {
                try { jsonmenu = JSON.parse(menutext); } catch(ex) { console.error(ex); }
            }
        }
        if(jsonmenu) {
            let progmap = {};
            for(let k in sidelist) {
                let ary = sidelist[k];
                for(let p of ary) {
                    if(!progmap[p.programid]) {
                        progmap[p.programid] = p;
                    }
                }
            }
            let hasMenuItems = jsonmenu?.items && jsonmenu?.items.length > 0;
            if(hasMenuItems) { %>
            <li class="dropdown">
                <a class="nav-menu-group dropdown-toggle collapsed active" data-toggle="collapse" data-target="#submenu_<%=counter%>" href="javascript:void(0);">
                    <em class="<%=groupstyle%>"></em>
                    <span class="nav-label"><%=groupname%></span>
                    <span class="menu-group-icon fa fa-chevron-left pull-right"></span>
                </a>
                <ul id="submenu_<%=counter%>" class="sub-menu panel-collapse collapse" role="menu">
                <% for(let item of jsonmenu?.items) {            
                    createMenuTree(item,progmap,++counter);   
                }%>
                </ul>
            </li>
            <% } %>
        <%} else {
            let list = sidelist[mk];
            if(list.length>0) {
                if(list.length==1) {
                    let element = list[0];
                    let progname = "TH"==lang?element["prognameth"]:element["progname"];
                    let iconstyle = element["iconstyle"];
                    let progid = element["programid"];
                    let url = element["url"];
                    let path = element["progpath"];
                    let progtype = element["progtype"];
                    if("I"!=progtype) {                
                    %>
                    <li>
                        <a href="javascript:void(0)" class="fa-link-menu-item dropdown-item collapsed active active-item menu-desktop" data-pid="<%=progid%>" data-url="<%=url%>" data-path="<%=path%>">
                            <em class="<%=groupstyle%>"></em>
                            <span class="nav-label"><%=progname%></span>
                        </a>
                    </li>    
                    <%
                    }
                } else {
                    let program = null;
                    let progcounter = 0;
                    for(let i=0,isz=list.length;i<isz;i++) {
                        let element = list[i];
                        if(element) {
                            let progtype = element["progtype"];
                            if("I"!=progtype) {
                                progcounter++;
                                program = element;
                            }
                        }
                    }
                    if(program && progcounter==1) {
                        let progname = "TH"==lang?program["prognameth"]:program["progname"];
                        let iconstyle = program["iconstyle"];
                        let progid = program["programid"];
                        let url = program["url"];
                        let path = program["progpath"];
                        %>
                        <li>
                            <a href="javascript:void(0)" class="fa-link-menu-item dropdown-item collapsed active active-item" data-pid="<%=progid%>" data-url="<%=url%>" data-path="<%=path%>" >
                                <em class="<%=groupstyle%>"></em>
                                <span class="nav-label"><%=progname%></span>
                            </a>
                        </li>        
                        <%
                    } else {
                    %>
                    <li class="dropdown">
                        <a class="nav-menu-group dropdown-toggle collapsed active" data-toggle="collapse" data-target="#submenu_<%=counter%>" href="javascript:void(0);">
                            <em class="<%=groupstyle%>"></em>
                            <span class="nav-label"><%=groupname%></span>
                            <span class="menu-group-icon fa fa-chevron-left pull-right"></span>
                        </a>
                        <ul id="submenu_<%=counter%>" class="sub-menu panel-collapse collapse" role="menu">    
                        <%
                        for(let i=0,isz=list.length;i<isz;i++) {
                            let element = list[i];
                            if(element) {
                                let progname = "TH"==lang?element["prognameth"]:element["progname"];
                                let iconstyle = element["iconstyle"];
                                let progid = element["programid"];
                                let url = element["url"];
                                let path = element["progpath"];
                                let progtype = element["progtype"];
                                if("I"!=progtype) {
                                %>
                                <li><a href="javascript:void(0)" class="fa-link-menu-item menu-desktop <%=iconstyle%>" data-pid="<%=progid%>" data-url="<%=url%>" data-path="<%=path%>" title="<%=progid%>"><%=progname %></a></li>
                                <%	    
                                }                                        
                            }
                        }
                        %>
                        </ul>
                    </li>
                        <%
                    }
                }
            }
        }
    }
}
%>
</ul>
