	<table  class="partition-table"><tr><td class="partition-head-column"><label id="mailinfo_label" class="control-label"><%=label.get('mailinfo_label','Mail Information')%></label></td><td class="partition-label-column"><a href="javascript:void(0);" onclick="toggleCollapseExpand(this)" class="pull-right part-linker" tabIndex="-1"><i class="fa fa-chevron-circle-up fa-partition-toggle"></i></a></td></tr></table>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<label for="mailserver" id="mailserver_label" class="control-label"><%=label.get('mailserver_label','Mail Host')%></label>
<div class="input-group"><input type="text" id="mailserver" name="mailserver" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailserver%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailserver_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailserver_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-3">
<label for="mailport" id="mailport_label" class="control-label"><%=label.get('mailport_label','Mail Port')%></label>
<div class="input-group"><input type="text" id="mailport" name="mailport" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailport%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailport_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailport_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="mailuser" id="mailuser_label" class="control-label"><%=label.get('mailuser_label','Mail User')%></label>
<div class="input-group"><input type="text" id="mailuser" name="mailuser" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailuser%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailuser_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailuser_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="mailpassword" id="mailpassword_label" class="control-label"><%=label.get('mailpassword_label','Mail Password')%></label>
<div class="input-group"><input type="text" id="mailpassword" name="mailpassword" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailpassword%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailpassword_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailpassword_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="mailfrom" id="mailfrom_label" class="control-label"><%=label.get('mailfrom_label','Mail From')%></label>
<div class="input-group"><input type="text" id="mailfrom" name="mailfrom" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailfrom%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailfrom_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailfrom_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="mailtitle" id="mailtitle_label" class="control-label"><%=label.get('mailtitle_label','Mail Title')%></label>
<div class="input-group"><input type="text" id="mailtitle" name="mailtitle" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailtitle%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailtitle_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailtitle_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<table  class="partition-table"><tr><td class="partition-head-column"><%=label.get('errormail_label','Exception Mail')%></td><td class="partition-label-column"><a href="javascript:void(0);" onclick="toggleCollapseExpand(this)" class="pull-right part-linker" tabIndex="-1"><i class="fa fa-chevron-circle-up fa-partition-toggle"></i></a></td></tr></table>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="mailto" id="mailto_label" class="control-label"><%=label.get('mailto_label','Mailing To Whom When Error')%></label>
<div class="input-group"><input type="text" id="mailto" name="mailto" class="form-control input-md irequired alert-input" value="<%=data.dataset?.mailto%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="mailto_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('mailto_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<table  class="partition-table"><tr><td class="partition-head-column"><%=label.get('factorsetting_label','2Factor Authentication')%></td><td class="partition-label-column"><a href="javascript:void(0);" onclick="toggleCollapseExpand(this)" class="pull-right part-linker" tabIndex="-1"><i class="fa fa-chevron-circle-up fa-partition-toggle"></i></a></td></tr></table>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10 radio my-radio form-check">
							<table><tr><td>
								<input type="checkbox" class="form-control input-md" id="factorverify" name="factorverify" value="true" <%=page.checked('true',data.dataset?.factorverify)%> />
							</td><td valign="middle">
								<label class="lclass control-label" id="factorverify_label" for="factorverify"><%=label.get('factorverify_label','2Factor Verification')%></label>
							</td></tr></table>						
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<label for="factorissuer" id="factorissuer_label" class="control-label"><%=label.get('factorissuer_label','2Factor Issuer')%></label>
<div class="input-group"><input type="text" id="factorissuer" name="factorissuer" class="form-control input-md irequired alert-input" value="<%=data.dataset?.factorissuer%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="factorissuer_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('factorissuer_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<table  class="partition-table"><tr><td class="partition-head-column"><%=label.get('s3setting_label','AWS S3 Setting')%></td><td class="partition-label-column"><a href="javascript:void(0);" onclick="toggleCollapseExpand(this)" class="pull-right part-linker" tabIndex="-1"><i class="fa fa-chevron-circle-up fa-partition-toggle"></i></a></td></tr></table>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="accesskey" id="accesskey_label" class="control-label"><%=label.get('accesskey_label','Access Key')%></label>
<div class="input-group"><input type="text" id="accesskey" name="accesskey" class="form-control input-md" value="<%=data.dataset?.accesskey%>" /><span></span><div class="input-group-required"><label class="required">&nbsp;</label></div></div><div id="accesskey_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('accesskey_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="secretkey" id="secretkey_label" class="control-label"><%=label.get('secretkey_label','Secret Key')%></label>
<div class="input-group"><input type="text" id="secretkey" name="secretkey" class="form-control input-md" value="<%=data.dataset?.secretkey%>" /><span></span><div class="input-group-required"><label class="required">&nbsp;</label></div></div><div id="secretkey_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('secretkey_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<label for="region" id="region_label" class="control-label"><%=label.get('region_label','Region')%></label>
<div class="input-group"><input type="text" id="region" name="region" class="form-control input-md" value="<%=data.dataset?.region%>" /><span></span><div class="input-group-required"><label class="required">&nbsp;</label></div></div><div id="region_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('region_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<label for="bucket" id="bucket_label" class="control-label"><%=label.get('bucket_label','Bucket')%></label>
<div class="input-group"><input type="text" id="bucket" name="bucket" class="form-control input-md" value="<%=data.dataset?.bucket%>" /><span></span><div class="input-group-required"><label class="required">&nbsp;</label></div></div><div id="bucket_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('bucket_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>

	<table  class="partition-table"><tr><td class="partition-head-column"><%=label.get('othersetting_label','Other Setting')%></td><td class="partition-label-column"><a href="javascript:void(0);" onclick="toggleCollapseExpand(this)" class="pull-right part-linker" tabIndex="-1"><i class="fa fa-chevron-circle-up fa-partition-toggle"></i></a></td></tr></table>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="approveurl" id="approveurl_label" class="control-label"><%=label.get('approveurl_label','Approve URL')%></label>
<div class="input-group"><input type="text" id="approveurl" name="approveurl" class="form-control input-md irequired alert-input" value="<%=data.dataset?.approveurl%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="approveurl_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('approveurl_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="activateurl" id="activateurl_label" class="control-label"><%=label.get('activateurl_label','Activate URL')%></label>
<div class="input-group"><input type="text" id="activateurl" name="activateurl" class="form-control input-md irequired alert-input" value="<%=data.dataset?.activateurl%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="activateurl_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('activateurl_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
