<% let fs_express_readonly = page.isRetrieveMode()?" readonly ":""; %>
		<input type="hidden" name="domainid" id="domainid" value="<%=data.dataset?.domainid%>"/>
		<div class="row row-height">
			<div class="col-md-12 col-height">
					<div class="table-layer-class">
						<div class="row row-height">
							<div class="col-height col-md-7">
<label for="domainname" id="domainname_label" class="control-label"><%=label.get('domainname_label','Domain Name')%></label><div class="input-group"><input type="text" id="domainname" name="domainname" class="form-control input-md irequired ikeyclass alert-input" maxlength="50" value="<%=data.dataset?.domainname%>" <%=fs_express_readonly%> /><div class="input-group-required"><label class="required">*</label></div></div><div id="domainname_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('domainname_alert','You can not leave this empty')%></div>
							</div>
						</div>
					</div>
			</div>
		</div>
