	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="nameen" id="nameen_label" class="control-label"><%=label.get('nameen_label','Product Name (English)')%></label>
<div class="input-group"><input type="text" id="nameen" name="nameen" class="form-control input-md irequired alert-input" value="<%=data.dataset?.nameen%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="nameen_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('nameen_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="nameth" id="nameth_label" class="control-label"><%=label.get('nameth_label','Product Name (Thai)')%></label>
<div class="input-group"><input type="text" id="nameth" name="nameth" class="form-control input-md irequired alert-input" value="<%=data.dataset?.nameth%>" /><span></span><div class="input-group-required"><label class="required">*</label></div></div><div id="nameth_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('nameth_alert','You can not leave this empty')%></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-10">
<label for="url" id="url_label" class="control-label"><%=label.get('url_label','URL or Project Context')%></label>
<div class="input-group"><input type="text" id="url" name="url" class="form-control input-md" value="<%=data.dataset?.url%>" /><span></span><div class="input-group-required"><label class="required">&nbsp;</label></div></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-3">
<label for="seqno" id="seqno_label" class="control-label"><%=label.get('seqno_label','Sequence')%></label>
<%-page.html('int',{value: data.dataset?.seqno, id: "seqno", name: "seqno", class: "form-control input-md"})%>
<span></span>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
						<div class="col-height col-md-5">
<div class="checkbox form-check"><label><input type="checkbox" value="1" id="centerflag" name="centerflag" class="form-control input-md form-check-input" <%=page.checked('1',data.dataset?.centerflag)%> /><span></span><label for="centerflag" id="centerflag_label" class="control-label"><%=label.get('centerflag_label','Reserved for center setting')%></label></label></div>
						</div>
						<div class="col-height col-md-5">
<div class="checkbox form-check"><label><input type="checkbox" value="1" id="verified" name="verified" class="form-control input-md form-check-input" <%=page.checked('1',data.dataset?.verified)%> /><span></span><label for="verified" id="verified_label" class="control-label"><%=label.get('verified_label','Verify Product Permission')%></label></label></div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row row-height">
		<div class="col-md-12 col-height">
				<div class="table-layer-class">
					<div class="row row-height">
							<div class="col-md-5 col-height" id="iconfilelayer">
								<label id="iconfile_label" class="control-label"><%=label.get('iconfile_label','Icon File')%></label>
								<input type="hidden" class="form-control input-md" id="iconfile" name="iconfile" value="<%=data.dataset?.iconfile%>"/>
							</div>
					</div>
					<div class="row row-height">
							<div class="col-md-1"></div>
							<div class="col-md-9 col-height">
								<img id="iconfileimage" width="128px" height="128px" src="<%=data.dataset?.iconimage%>" alt="Product Image"/>
							</div>
					</div>					
				</div>
		</div>
	</div>
