<form name="fslistform" id="fslistform" method="post" autocomplete="off">
	<input type="hidden" name="ajax" value="true"/>
	<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
	<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
	<input type="hidden" name="page" value="<%=page.setting?.page%>"/>
	<input type="hidden" name="product" />
</form>
<form name="fssortform" id="fssortform" method="post" autocomplete="off">
	<input type="hidden" name="ajax" value="true"/>
	<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
	<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
	<input type="hidden" name="page" value="<%=page.setting?.page%>"/>
	<input type="hidden" name="orderDir" value="<%=page.invertOrder()%>"/>
	<input type="hidden" name="orderBy" />
</form>
<table id="datatable" class="table table-bordered table-hover table-striped tablesorter">
	<thead>
		<tr>
			<th class="text-center th-sequence"><label id="seqno_headerlabel"><%=label.get('seqno_headerlabel','No.')%></label></th>
			<th class="text-center th-data"><a href="javascript:void(0)" class="alink-sorter fa-data-sort" data-sorter="product"><label id="product_headerlabel"><%=label.get('product_headerlabel','Product Code')%></label></a></th>
			<th class="text-center th-data"><a href="javascript:void(0)" class="alink-sorter fa-data-sort" data-sorter="nameen"><label id="nameen_headerlabel"><%=label.get('nameen_headerlabel','Product Name')%></label></a></th>
			<th class="text-center th-data"><a href="javascript:void(0)" class="alink-sorter fa-data-sort" data-sorter="seqno"><label id="sequenceno_headerlabel"><%=label.get('sequenceno_headerlabel','Sequence')%></label></a></th>
			<th class="text-center th-action"><em class="fa fa-bolt" aria-hidden="true"></em></th>
		</tr>
	</thead>
	<tbody id="datatablebody">							
		<%	let rows = data.dataset?.rows;
			if(rows && rows.length>0) { 
				for(let index=0; index < rows.length; index++) { 
					let item = rows[index]; %>
					<tr>
						<td class="text-center"><%=page.recordsNumber(index+1)%></td>
						<td><a href="javascript:void(0)" class="alink-data fa-data-edit" data-key="<%=item?.product%>"><%=item?.product%></a></td>
						<td><a href="javascript:void(0)" class="alink-data fa-data-edit" data-key="<%=item?.product%>"><%=item?.nameen%></a></td>
						<td class="text-center"><a href="javascript:void(0)" class="alink-data fa-data-edit" data-key="<%=item?.product%>"><%=item?.seqno%></a></td>
						<td class="text-center">
							<button class="btn-edit fa-data-edit" data-key="<%=item?.product%>" title="<%=label.get('btnedit_tooltip')%>"></button>
							<button class="btn-delete fa-data-delete" data-key="<%=item?.product%>" title="<%=label.get('btndelete_tooltip')%>"></button>
						</td>
					</tr>
		<%		}
			} else {
				if(rows) { %>
					<tr>
						<td class="text-center" colspan="5">
							<%=label.get('recordnotfound','Record not found')%>
						</td>
					</tr>
		<%		}
			}	%>
	</tbody>
</table>	
<div id="fschaptertablelayer" class="fschaptertablelayer">
<table id="fschaptertable" class="fschaptertable">
	<tr class="fschapterrow"><td class="fschaptercolumn">
	<form name="fschapterform" id="fschapterform" method="post" autocomplete="off">
		<input type="hidden" name="ajax" value="true"/>
		<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
		<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
		<input type="hidden" name="page" value="<%=page.setting?.page%>"/>
		<input type="hidden" name="orderDir" value="<%=page.setting?.orderDir%>"/>
		<input type="hidden" name="orderBy" value="<%=page.setting?.orderBy%>"/>
	</form>
	<div id="fschapterlayer">
		<%- page.createPaging() %>
	</div>
	</td>
	</tr>
</table>
</div>
