<!DOCTYPE html>
<html>
	<head>
		<title>Product Information</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>	
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/sfte003/sfte003.css" />
		<script type="text/javascript" src="<%=meta.base_url%>/sfte003/sfte003.js"></script>
	</head>
	<body class="portalbody portalbody-off">
		<%- include('../partials/page_waiting') %>
		<div id="ptsearchpager" class="pt-page pt-page-current pt-page-controller sfte003-search-pager">
			<%- page.createHeader({pid: 'sfte003', title: label.get('caption','Product Information')}) %>
			<div id="searchpanel" class="panel-body">
				<form id="fssearchform" name="fssearchform" method="post">
					<input type="hidden" name="ajax" value="true"/>
					<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
					<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
					<input type="hidden" name="page" value="1"/>
					<input type="hidden" name="orderBy" value=""/>
					<input type="hidden" name="orderDir" value=""/>
					<%- include('./sfte003_filter') %>
				</form>
				<div id="listpanel" class="table-responsive fa-list-panel">
					<%- include('./sfte003_data') %>
				</div>
			</div>
		</div>
		<div id="dialogpanel"></div>
		<div id="uploadlayer" class="fa-hidden">
			<form id="uploadform" name="uploadform" enctype="multipart/form-data">
				<input type="hidden" id="uploadproduct" name="product" />
				<div id="uploadiconlayer"><input type="file" id="uploadiconfile" name="iconfile" /></div>
			</form>
		</div>
	</body>
</html>
