			<div class="row row-height">
				<div class="col-md-12 col-height">
						<div class="table-layer-class">
							<div class="row row-height">
								<div class="col-height col-md-3">
<label for="products" id="products_label" class="control-label"><%=label.get('products_label','Product Code')%></label><input type="text" id="products" name="product" class="form-control input-md" value="<%=data.dataset?.product%>" /><span></span>
								</div>
								<div class="col-height col-md-3">
<label for="nameens" id="nameens_label" class="control-label"><%=label.get('nameens_label','Product Name')%></label><input type="text" id="nameens" name="nameen" class="form-control input-md" value="<%=data.dataset?.nameen%>" /><span></span>
								</div>
								<div class="col-md">
									<br/>
									<button type="button" id="searchbutton" class="btn btn-dark btn-sm"><i class="fa fa-search fa-btn-icon" aria-hidden="true"></i><%=label.get('searchbutton','Search')%></button>
									<button type="button" id="insertbutton" class="btn btn-dark btn-sm pull-right"><i class="fa fa-plus fa-btn-icon" aria-hidden="true"></i><%=label.get('insertbutton','Insert')%></button>
								</div>
							</div>
						</div>
				</div>
			</div>
