	<div id="entrylayer" class="entry-layer">
		<form id="fsentryform" name="fsentryform" method="post" action="/api/factor/verify">	
			<input type="hidden" id="factorid" name="factorid" value="<%=data.dataset?.factorid%>"/>
			<div class="portal-area sub-entry-layer">
				<div class="row row-height">
					<div class="col-md-3 col-height col-label text-right">&nbsp;</div>
					<div class="col-md-8 col-height">
						<% if(page.isThai()) { %>
						ระบบต้องการตรวจสอบเพิ่มเติม โปรดระบุรหัสจากโปรแกรมมือถือ Google Authenticator<br/>
						<% if(data.dataset?.factorflag!="1") { %>
						สามารถดาวน์โหลดโปรแกรมมือถือ Google Authenticator และทำการเพิ่มได้ที่ <a href="javascript:void(0)" title="Add Google Authenticator" tabIndex="-1" onclick="openFactorInfo()">เพิ่ม 2FA</a>
						<%}%>
						<%}%>
						<% if(!page.isThai()) { %>
						The system force you to entry verification code, please specify your Google Authenticator code.<br/>
						<% if(data.dataset?.factorflag!="1") { %>
						You can download mobile application Google Authenticator and add with QR Code via <a href="javascript:void(0)" title="Add Google Authenticator" tabIndex="-1" onclick="openFactorInfo()">Add 2FA</a>
						<%}%>
						<%}%>
						<br/>
					</div>
				</div>
				<div class="row row-height">
					<div class="col-md-4"></div>
					<div class="col-height col-md-4 factor-code-layer">
						<label for="factorcode" id="factorcode_label" class="control-label"><%=label.get('factorcode_label','Verify Code')%></label>
						<div class="input-grouper">
							<input type="text" id="factorcode" name="factorcode" class="form-control input-md irequired alert-input" maxlength="8" placeholder="Code"/>
						</div>
						<div id="factorcode_alert" role="alert" class="has-feedback has-error fa-hidden"><%=label.get('factorcode_alert','You can not leave this empty')%></div>
					</div>
				</div>			
				<div class="row row-height">
					<div class="col-md-4"></div>
					<div class="col-md-4 factor-link-layer">						
						<%if(data.dataset?.factorflag!="1"){%>
						<a href="javascript:void(0)" id="factorliker" class="factor-linker" title="Add Google Authenticator" tabIndex="-1" onclick="openFactorInfo()"><%=label.get('factor_label','Add 2FA')%></a>
						<%}%>
						<input type="button" id="savebutton" class="btn btn-dark btn-sm pull-right" value="<%=label.get('submitbutton','Submit')%>"/>
					</div>
				</div>
			</div>
		</form>
	</div>