<!DOCTYPE html>
<html>
	<head>
		<title>Verification</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>	
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/factor/factor.css" />
		<script  type="text/javascript" src="<%=meta.base_url%>/factor/factor.js"></script>
		<script>var API_TOKEN = "<%=meta.token%>";</script>
	</head>
	<body class="portalbody portalbody-off">
		<%- include('../partials/page_waiting') %>
		<div id="factor_verify" class="pt-page pt-page-current pt-page-controller">
			<h1 class="page-header-title" title="2FA Verification"><%=label.get('caption','Verification')%></h1>
			<div id="entrypanel">
				<%- include('factor_verify') %>		
			</div>
			<br/>
		</div>
		<div id="dialogpanel">
			<% if(data.dataset?.factorflag!="1") { %>
			<%- include('factor_dialog') %>	
			<%}%>	
		</div>
	</body>
</html>
