<!DOCTYPE html>
<html>
	<head>
		<title>Mail Tracking</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>	
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/sftq003/sftq003.css" />
		<script type="text/javascript" src="<%=meta.base_url%>/sftq003/sftq003.js"></script>
	</head>
	<body class="portalbody portalbody-off">
		<%- include('../partials/page_waiting') %>
		<div id="ptsearchpager" class="pt-page pt-page-current pt-page-controller sftq003-search-pager">
			<%- page.createHeader({pid: 'sftq003', title: label.get('caption','Mail Tracking')}) %>
			<div id="searchpanel" class="panel-body">
				<form id="fssearchform" name="fssearchform" method="post">
					<input type="hidden" name="ajax" value="true"/>
					<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
					<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
					<input type="hidden" name="page" value="1"/>
					<input type="hidden" name="orderBy" value=""/>
					<input type="hidden" name="orderDir" value=""/>
					<%- include('./sftq003_filter') %>
				</form>
				<div id="listpanel" class="table-responsive fa-list-panel">
					<%- include('./sftq003_data') %>
				</div>
			</div>
		</div>
		<div id="dialogpanel"></div>
		<div id="referdialogpanel"></div>
		<div class="fa-hidden">
			<iframe id="sftq003_excel_window" name="sftq003_excel_window"></iframe>
			<iframe id="sftq003_pdf_window" name="sftq003_pdf_window"></iframe>
		</div>
	</body>
</html>
