<!DOCTYPE html>
<html>
	<head>
		<title>Tenant Setting</title>
		<%- include('../asset/meta') %>		
		<%- include('../asset/styles') %>		
		<%- include('../asset/scripts') %>	
		<link rel="stylesheet" type="text/css" href="<%=meta.base_url%>/sfte018/sfte018.css" />
		<script type="text/javascript" src="<%=meta.base_url%>/sfte018/sfte018.js"></script>
	</head>
	<body class="portalbody portalbody-off">
		<%- include('../partials/page_waiting') %>
		<div id="ptsearchpager" class="pt-page pt-page-current pt-page-controller sfte018-search-pager">
			<%- page.createHeader({pid: 'sfte018', title: label.get('caption','Tenant Setting')}) %>
			<div id="searchpanel" class="panel-body">
				<form id="fssearchform" name="fssearchform" method="post">
					<input type="hidden" name="ajax" value="true"/>
					<input type="hidden" name="rowsPerPage" value="<%=page.setting?.rowsPerPage%>"/>
					<input type="hidden" name="limit" value="<%=page.setting?.limit%>"/>
					<input type="hidden" name="page" value="1"/>
					<input type="hidden" name="orderBy" value=""/>
					<input type="hidden" name="orderDir" value=""/>
					<%- include('./sfte018_filter') %>
				</form>
				<div id="listpanel" class="table-responsive fa-list-panel">
					<%- include('./sfte018_data') %>
				</div>
			</div>
		</div>
		<div id="dialogpanel"></div>
	</body>
</html>
